Repository viduxka/testingo, pull requests merged in 2020-12, with the labels that each got.

#35 Fat jar
  backend/build.gradle
  frontend/build.gradle
Labels: infrastructure

#45 [#38] Added PW, SN, and ip config link to cameras
  backend/src/main/java/net/vidux/camhub/InMemoryDbInit.java
  backend/src/main/java/net/vidux/camhub/api/CameraRepresentation.java
  backend/src/main/java/net/vidux/camhub/api/CameraRepresentationAssembler.java
  backend/src/main/java/net/vidux/camhub/models/Camera.java
  backend/src/test/java/net/vidux/camhub/InMemoryDBTest.java
Labels: backend

#36 Implementing tests
  frontend/build.gradle
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.test.js
  frontend/src/App.unit.test.js
  frontend/src/components/CamListItem/CamListItem.js
  frontend/src/components/CamListItem/CamListItem.unit.test.js
  frontend/src/components/Capability/Capability.js
  frontend/src/components/Capability/Capability.unit.test.js
  frontend/src/components/CapabilityTable/CapabilityTable.unit.test.js
  frontend/src/components/Discover/Discover.js
  frontend/src/components/Discover/Discover.unit.test.js
  frontend/src/components/Label/Label.unit.test.js
  frontend/src/components/Layout/Layout.js
  frontend/src/components/Layout/Layout.unit.test.js
  frontend/src/components/ReserveRelease/ReserveRelease.js
  frontend/src/components/ReserveRelease/ReserveRelease.unit.test.js
  frontend/src/containers/CamListContainer/CamListContainer.js
  frontend/src/containers/CamListContainer/CamListContainer.unit.test.js
  frontend/src/setupTests.js
  frontend/src/test/testUtils.js
Labels: frontend

#47 Camera details panel added. Tooltip added
  frontend/.env
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.unit.test.js
  frontend/src/components/CamListItem/CamListItem.js
  frontend/src/components/CameraDetails/CameraCapabilityTable/CameraCapabilityTable.js
  frontend/src/components/CameraDetails/CameraDetails.js
  frontend/src/components/CameraDetails/CameraDetails.module.css
  frontend/src/components/CameraDetails/CameraDetails.unit.test.js
  frontend/src/components/CameraDetails/CameraDetailsTable/CameraDetailsTable.js
  frontend/src/components/CameraDetails/CameraDetailsTable/CameraDetailsTable.unit.test.js
  frontend/src/components/CameraTable/CamListItem/CamListItem.js
  frontend/src/components/CameraTable/CamListItem/CamListItem.module.css
  frontend/src/components/CameraTable/CamListItem/CamListItem.unit.test.js
  frontend/src/components/CameraTable/CameraTable.js
  frontend/src/components/CameraTable/CameraTable.unit.test.js
  frontend/src/components/Capability/Capability.js
  frontend/src/components/CapabilityTable/CapabilityTable.js
  frontend/src/components/Discover/Discover.js
  frontend/src/components/Discover/Discover.unit.test.js
  frontend/src/components/Label/Label.js
  frontend/src/components/Label/Label.module.css
  frontend/src/components/Label/Label.unit.test.js
  frontend/src/components/Layout/Layout.js
  frontend/src/components/Layout/Layout.module.css
  frontend/src/components/Layout/Layout.unit.test.js
  frontend/src/components/ReserveRelease/ReserveRelease.js
  frontend/src/components/TableTooltipWrapper/TableToolTipWrapper.js
  frontend/src/components/TableTooltipWrapper/TableToolTipWrapper.unit.test.js
  frontend/src/containers/CamListContainer/CamListContainer.js
  frontend/src/containers/CamListContainer/CamListContainer.module.css
  frontend/src/containers/CamListContainer/CamListContainer.unit.test.js
  frontend/src/helpers/helpers.js
  frontend/src/helpers/helpers.unit.test.js
  frontend/src/index.js
Labels: frontend

#51 Discover button + function added with user feedback
  frontend/src/components/CameraTable/CameraTable.js
  frontend/src/components/Discover/Discover.js
  frontend/src/components/Discover/Discover.unit.test.js
  frontend/src/components/SnackBar/SnackBar.js
  frontend/src/components/SnackBar/SnackBar.unit.test.js
  frontend/src/containers/CamListContainer/CamListContainer.js
Labels: frontend

#53 M2 remaining backend
  backend/src/main/java/net/vidux/camhub/CamHubApplication.java
  backend/src/main/java/net/vidux/camhub/api/DiscoveryController.java
  backend/src/main/java/net/vidux/camhub/camera/Camera.java
  backend/src/main/java/net/vidux/camhub/camera/CameraRepository.java
  backend/src/main/java/net/vidux/camhub/discovery/CameraDiscoveryException.java
  backend/src/main/java/net/vidux/camhub/discovery/CameraDiscoveryService.java
  backend/src/main/java/net/vidux/camhub/discovery/CameraFactory.java
  backend/src/main/java/net/vidux/camhub/discovery/CameraScanViduxHelper.java
  backend/src/main/java/net/vidux/camhub/discovery/DiscoveryTask.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraData.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraDataFactory.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraEvent.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraEventListener.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraEventPublisher.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraService.java
  backend/src/main/java/net/vidux/camhub/discovery/StreamGobbler.java
  backend/src/main/java/net/vidux/camhub/discovery/ViduxHelperWrapper.java
  backend/src/main/resources/application.properties
  backend/src/test/java/net/vidux/camhub/discovery/CameraDiscoveryServiceTest.java
  backend/src/test/java/net/vidux/camhub/discovery/CameraFactoryTest.java
  backend/src/test/java/net/vidux/camhub/discovery/CameraScanTest.java
  backend/src/test/java/net/vidux/camhub/discovery/RawCameraDataFactoryTest.java
  backend/src/test/java/net/vidux/camhub/discovery/RawCameraServiceTest.java
Labels: backend

#50 Discovery service closes #41
  backend/src/main/java/net/vidux/camhub/CamHubApplication.java
  backend/src/main/java/net/vidux/camhub/discovery/CameraDiscoveryException.java
  backend/src/main/java/net/vidux/camhub/discovery/CameraDiscoveryService.java
  backend/src/main/java/net/vidux/camhub/discovery/DiscoveryTask.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraData.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraEvent.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraEventPublisher.java
  backend/src/test/java/net/vidux/camhub/discovery/CameraDiscoveryServiceTest.java
Labels: backend

#49 Discovery service vidux helper
  backend/src/main/java/net/vidux/camhub/discovery/CameraScanViduxHelper.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraData.java
  backend/src/main/java/net/vidux/camhub/discovery/RawCameraDataFactory.java
  backend/src/main/java/net/vidux/camhub/discovery/StreamGobbler.java
  backend/src/main/java/net/vidux/camhub/discovery/ViduxHelperWrapper.java
  backend/src/main/resources/application.properties
  backend/src/test/java/net/vidux/camhub/discovery/CameraScanTest.java
  backend/src/test/java/net/vidux/camhub/discovery/RawCameraDataFactoryTest.java
Labels: backend
